
@{
    ViewBag.Title = "Try";
}
@using PagedList;
@using PagedList.Mvc;

@model IPagedList<string>

@section head{

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

}

<table border="1">
    <tr>
        <th>
            @Model.First()
        </th>
        <th>
            @Model.First()
        </th>
        <th>
            @Model.First()
        </th>
    </tr>

</table>
@Html.PagedListPager(Model,page=>Url.Action("Try",new { page}))



@section scripts{




    <script src="https://www.solodev.com/assets/pagination/jquery.twbsPagination.js"></script>
    <script src="/Content/eiser/js/paging.js"></script>

}

