
@{
    ViewBag.Title = "Main";



}


<section class="home_banner_area mb-40">
    <div class="banner_inner d-flex align-items-center">
        <div class="container">
            <div class="banner_content row">
                <div class="col-lg-12">
                    <h3><span>Have</span> A <br /><span>Successful</span> Semester</h3>
                    <h4>Get help in your courses and homeworks.</h4>
                    <a class="main_btn mt-40" href="#services">Our Services</a>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="feature-area section_gap_bottom_custom">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-feature">
                    <a href="#" class="title">
                        <i class="flaticon-money"></i>
                        <h3>Make Money</h3>
                    </a>
                    <p>Offer help and get money in return</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-feature">
                    <a href="#" class="title">
                        <i class="ti-shield"></i>
                        <h3>anonymity</h3>
                    </a>
                    <p>get help without letting anybody to know.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-feature">
                    <a href="#" class="title">
                        <i class="flaticon-support"></i>
                        <h3>Alway support</h3>
                    </a>
                    <p>Ability to reach the admins easily.</p>
                </div>
            </div>

            
        </div>
    </div>
</section>


<section class="blog-area section-gap" id="services">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="main_title">
                    <h2><span>Services</span></h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-blog">
                    <div class="thumb">
                        <img class="img-fluid" src="~/Content/eiser/img/banner/one-to-one.jpg" alt="">
                    </div>
                    
                </div>
            </div>
            <div class="col-lg-8 col-md-6">
                <div class="single-blog">
                    <div class="short_details">
                        <a class="d-block" href="/Courses/Index">
                            <h4>
                                One to one tutoring
                            </h4>
                        </a>
                        <div class="text-wrap">
                            <p>
                                Sehir students are allowed to give courses to their colleagues after the approval of student ability of giving the course.
                                <br />
                                The system will arrange the day and the time of the meeting and accordingly both teams will meet.
                            </p>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-blog">
                    <div class="thumb">
                        <img class="img-fluid" src="~/Content/eiser/img/banner/homeworkmaker.jpg" alt="">
                    </div>

                </div>
            </div>
            <div class="col-lg-8 col-md-6">
                <div class="single-blog">
                    <div class="short_details">
                        <a class="d-block" href="/Homework/Index">
                            <h4>
                                Homeworks
                            </h4>
                        </a>
                        <div class="text-wrap">
                            <p>
                               students with high grades in some courses offer the service of helping other students in their homeworks.
                               <br />
                               those students are obliged to submit their transcript in order to prove their ability and get an approval by the admins.
                            </p>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
    

</section>