
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="icon" href="/Content/eiser/img/favicon.png" type="image/png" />
    <title>@ViewBag.Title</title>
    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="/Content/eiser/css/bootstrap.css" />
    <link rel="stylesheet" href="/Content/eiser/vendors/linericon/style.css" />
    <link rel="stylesheet" href="/Content/eiser/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/Content/eiser/css/themify-icons.css" />
    <link rel="stylesheet" href="/Content/eiser/css/flaticon.css" />
    <link rel="stylesheet" href="/Content/eiser/vendors/owl-carousel/owl.carousel.min.css" />
    <link rel="stylesheet" href="/Content/eiser/vendors/lightbox/simpleLightbox.css" />
    <link rel="stylesheet" href="/Content/eiser/vendors/nice-select/css/nice-select.css" />
    <link rel="stylesheet" href="/Content/eiser/vendors/animate-css/animate.css" />
    <link rel="stylesheet" href="/Content/eiser/vendors/jquery-ui/jquery-ui.css" />

    <!-- main css -->
    <link rel="stylesheet" href="/Content/eiser/css/style.css" />
    <link rel="stylesheet" href="/Content/eiser/css/responsive.css" />

    @RenderSection("head", false)
</head>

<body>
    <!--================Header Menu Area =================-->
    <header class="header_area">
        <div class="main_menu">
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-light w-100">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <a class="navbar-brand logo_h" href="/Content/eiser//index.html">
                        <img src="/Content/eiser/img/logo.png" alt="" />
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse offset w-100" id="navbarSupportedContent">
                        <div class="row w-100 mr-0">
                            <div class="col-lg-10 pr-0">
                                <ul class="nav navbar-nav center_nav pull-right">
                                    <li class="nav-item">
                                        <a class="nav-link" href="/Home/Main">Home</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/Courses/Index">Courses</a>
                                    </li>

                                    @if (User.IsInRole("Lecturer"))
                                    {
                                        <li class="nav-item">
                                            <a class="nav-link" href="/Courses/Index/1">My Courses </a>
                                        </li>
                                    }

                                    <li class="nav-item">
                                        <a class="nav-link" href="/Homework/Index">Homeworks</a>
                                    </li>

                                    @if (User.IsInRole("HomeworkMaker"))
                                    {
                                        <li class="nav-item">
                                            <a class="nav-link" href="/Homework/Index/1">My Homeworks</a>
                                        </li>

                                    }

                                    <li class="nav-item">
                                        <a class="nav-link" href="#contact">Contact</a>
                                    </li>
                                </ul>
                            </div>

                            <div class="col-lg-2 pr-5">
                                <ul class="nav navbar-nav navbar-right right_nav pull-right">
                                    <li class="nav-item submenu dropdown">
                                        <a href="#" class="nav-link dropdown-toggle icons" data-toggle="dropdown" role="button" aria-haspopup="true"
                                           aria-expanded="false">
                                        <i class="ti-user " aria-hidden="true"> </i>
                                        </a>
                                        <ul class=" dropdown-menu w-75">
                                            <li class="nav-item">
                                                <a class="nav-link" href="/Login/Logout">Log Out</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="single-blog.html">Blog Details</a>
                                            </li>
                                        </ul>
                                    </li>

                                      
                                </ul>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </header>
    <!--================Header Menu Area =================-->
    <!--================Home Banner Area =================-->
    @RenderBody()
    <footer class="footer-area section_gap">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 single-footer-widget" id="contact">
                    <h4>Contact</h4>

                    <ul>
                        <li><a>Sehir University</a></li>
                        <li><a>fahedshaabani@std.sehir.edu.tr</a></li>
                    </ul>
                </div>

                <div class="col-lg-4 col-md-6 single-footer-widget">
                    <h4>Wanna Contribute to the project?</h4>
                    <p>Please provide us your email and the developers will reach you.</p>
                    <div class="form-wrap" id="mc_embed_signup">
                        <form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
                              method="get" class="form-inline">
                            <input class="form-control" name="EMAIL" placeholder="Your Email Address" onfocus="this.placeholder = ''"
                                   onblur="this.placeholder = 'Your Email Address '" required="" type="email">
                            <button class="click-btn btn btn-default">Send</button>
                            <div style="position: absolute; left: -5000px;">
                                <input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
                            </div>

                            <div class="info"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="footer-bottom row align-items-center">
                <div class="col-lg-8">

                </div>
                <div class="col-lg-4 col-md-12 footer-social">
                    <a href="#"><i class="fa fa-google"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                </div>
            </div>
        </div>
    </footer>
    <!--================ End footer Area  =================-->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/Content/eiser/js/jquery-3.2.1.min.js"></script>
    <script src="/Content/eiser/js/popper.js"></script>
    <script src="/Content/eiser/js/bootstrap.min.js"></script>
    <script src="/Content/eiser/js/stellar.js"></script>
    <script src="/Content/eiser/vendors/lightbox/simpleLightbox.min.js"></script>
    <script src="/Content/eiser/vendors/nice-select/js/jquery.nice-select.min.js"></script>
    <script src="/Content/eiser/vendors/isotope/imagesloaded.pkgd.min.js"></script>
    <script src="/Content/eiser/vendors/isotope/isotope-min.js"></script>
    <script src="/Content/eiser/vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="/Content/eiser/js/jquery.ajaxchimp.min.js"></script>
    <script src="/Content/eiser/vendors/counter-up/jquery.waypoints.min.js"></script>
    <script src="/Content/eiser/vendors/counter-up/jquery.counterup.js"></script>
    <script src="/Content/eiser/js/mail-script.js"></script>
    <script src="/Content/eiser/js/theme.js"></script>
    @RenderSection("scripts",false)

 
</body>

</html>
